body {
  background-color: #b0cae9;
}

h1, h2, p {
  color: #fff;
}

header {
  width: 100%;
  margin: 50px auto;
}

.pokeWrapper {
  display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	max-width: 1000px;
}

.pokemonCard {
  margin-right: 50px;
}

.pokemonIMG img  {
  margin-right: 20px;
  width: 250px;
  height: 250px;
}

.name {
  text-align: center;
}

.type {
  text-align: center;
  color: #fff;;
}

.ability {
  text-align: center;
  color: #fff;
}